@font-face {
  font-family: nb;
  src: url(./assets/NBInternationalProBoo.ttf);
}

@font-face {
  font-family: rejouice;
  src: url(./assets/Rejouice-Headline.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #FBF8F2;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #FBF8F2;
  position: relative;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#cursor h5 {
    font-size: 1.15vw;
    font-weight: 500;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw;
}

nav h3,
nav h4 {
  font-size: 1.4vw;
  font-weight: 100;
  cursor: pointer;
}

#page1-content h1 {
    font-family: rejouice;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
    cursor: default;
}

#page1-content h1 span {
    font-family: rejouice;
}

/* Page 2 */

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #FBF8F2;
    padding-top: 6vw;
}

#nav-2 {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vw;
    width: 93vw;
    margin-inline: auto;
}

#nav-2 h2 {
    font-weight: 100;
    font-size: 1.6vw;
}

.elem h1 {
    font-size: 4.1vw;
    font-weight: 100;
    padding-inline: 3vw;
    padding-top: 1vw;
}